    body{
      background-color: black;
    }
    .num-key{
      background-color: rgb(58, 56, 56);
      color:white;
      padding:14px 18px;
      border:none;
      border-radius:22px;
    }
    .js-result{
      color:white;
      font-family:Arial;
      font-weight:500;
      font-size: 30px;
      height: 45px;
      margin:0;
    }
    .sym-key{
      background-color: rgb(246, 142, 39);
      color:white;
      padding:14px 18px;
      border:none;
      border-radius:22px;
    }
    .clear-key{
      background-color: rgb(58, 56, 56);
      color:white;
      padding:14px 10px;
      border:none;
      border-radius:22px;
      font-size:10px;
    }
